@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using System.IO

@model Quintessence.QCandidate.Models.MemoProgramComponents.MemoProgramComponent

@inject IViewLocalizer Localizer

@section Styles {
    <link href="/css/memoprogramcomponentdetails.css" rel="stylesheet" />
}

<div class="container">
    <div class="context">
        <a href="index.html" class="btn">Onderdeel afsluiten</a>
        <h1>Assessment</h1>
    </div>
</div>

<div class="row assessment-tabs">
    <div class="tab-wrapper">
        <div class="container">
            <ul class="tabs">
                <li class="tab col s2"><a class="active" href="#inleiding">Inleiding</a></li>
                <li class="tab col s3"><a href="#functieomschrijving">Functieomschrijving</a></li>
                <li class="tab col s2"><a href="#context">Context</a></li>
                <li class="tab col s2"><a href="#memos">Memos</a></li>
                <li class="tab col s2"><a href="#agenda">Agenda</a></li>
            </ul>
        </div>
    </div>
    <div class="container assessment-content">


        <!-- Inleiding -->
        <div id="inleiding" class="col s12">

            <!-- Nieuwe inleiding -->
            <div class="block-new">
                @Html.Raw(Model.Intro)
            </div>

            @*<h2>Situering</h2>
            <p>Het is maandag 16 april, 9 uur. U treedt vandaag in functie als teamleider productie. U bent nog niet in de mogelijkheid geweest om kennis te maken met uw collega’s. </p>

            <p>Uw voorganger, Christian Melssen, heeft elders een betrekking opgenomen en is sneller moeten vertrekken dan in eerste instantie was vooropgesteld. Hij kan u dus niet begeleiden tijdens de eerste dagen in uw nieuwe functie. </p>*@
        </div>

        <!-- Functieomschrijving -->
        <div id="functieomschrijving" class="col s12">
            @Html.Raw(Model.FunctionDescription)
        </div>
        <div id="context" class="col s12">
            
            <iframe id="pdfFrame" src="@string.Concat(Model.Context, "#toolbar=0&navpanes=0")" width="100%" height="600px"></iframe>
            @*<iframe id="pdfFrame" src="pdf/info.pdf#toolbar=0&navpanes=0" width="100%" height="600px"></iframe>*@
        </div>
        <div id="memos" class="col s12">
            <div class="row">
                <div class="col s3">
                    <h2>Memos</h2>
                    <div id="simple-list" class="row">
                        <div id="memo-list" class="list-group col">
                            @foreach (var item in Model.Memos.OrderBy(x => x.Position))
                            {
                                if (item.Position == 1)
                                {
                                    <div class="list-group-item active" onclick="openMemo(event, '@item.OriginId')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">@item.Title</span> <i class="material-icons">chevron_right</i></div>
                                }
                                else
                                {
                                    <div class="list-group-item" onclick="openMemo(event, '@item.OriginId')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">@item.Title</span> <i class="material-icons">chevron_right</i></div>
                                }

                            }
                            @*<div class="list-group-item active" onclick="openMemo(event, 'memo1')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">Maandelijkse vergadering</span> <i class="material-icons">chevron_right</i></div>
        <div class="list-group-item" onclick="openMemo(event, 'memo2')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">Ons team</span> <i class="material-icons">chevron_right</i></div>
        <div class="list-group-item" onclick="openMemo(event, 'memo3')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">Personeelsadministratie</span> <i class="material-icons">chevron_right</i></div>
        <div class="list-group-item" onclick="openMemo(event, 'memo4')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">Kwaliteitsaudit</span> <i class="material-icons">chevron_right</i></div>
        <div class="list-group-item-new" onclick="openMemo(event, 'memo5')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">Opleiding Offidi Installateur</span> <i class="material-icons">chevron_right</i></div>
        <div class="list-group-item-new" onclick="openMemo(event, 'memo6')"> <span class="drag-icon"><i class="material-icons">drag_handle</i></span> <span class="truncate">Netheid &amp; veiligheid</span> <i class="material-icons">chevron_right</i></div>*@
                        </div>
                    </div>
                </div>
                <div id="memos" class="col s9 memo-wrapper">

                    @foreach (var item in Model.Memos.OrderBy(x => x.Position))
                    {
                        if (item.Position == 1)
                        {
                            <div id="@item.OriginId" class="memo active"> @Html.Raw(item.FilePath) </div>
                        }
                        else
                        {
                            <div id="@item.OriginId" class="memo"> @Html.Raw(item.FilePath) </div>
                        }

                    }
                    @*<div id="memo1" class="memo active"><img src="img/1_nl.png" /></div>
        <div id="memo2" class="memo"><img src="img/2_nl.png" /></div>
        <div id="memo3" class="memo"><img src="img/3_nl.png" /></div>
        <div id="memo4" class="memo"><img src="img/4_nl.png" /></div>
        <div id="memo5" class="memo"><img src="img/5_nl.png" /></div>
        <div id="memo6" class="memo"><img src="img/6_nl.png" /></div>*@
                </div>
            </div>
        </div>
        <div id="agenda" class="col s12">
            <h2>Agenda</h2>
            <div class="calendar">
                @foreach (var item in Model.CalendarDays.OrderBy(x => x.Day))
                {
                    var culture = new CultureInfo("nl");
                    <div class="calendar-block">
                        <div class="calendar-date">@item.Day.ToString("D", culture)</div><textarea class="calendar-text"></textarea>
                    </div>
                }

                @*<div class="calendar-block">
                    <div class="calendar-date">Dinsdag 3 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Woensdag 4 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Donderdag 5 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Vrijdag 6 april</div><textarea class="calendar-text"></textarea>
                </div>


                <div class="calendar-block">
                    <div class="calendar-date">Maandag 9 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Dinsdag 10 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Woensdag 11 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Donderdag 12 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Vrijdag 13 april</div><textarea class="calendar-text"></textarea>
                </div>


                <div class="calendar-block">
                    <div class="calendar-date">Maandag 16 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Dinsdag 17 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Woensdag 18 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Donderdag 19 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Vrijdag 20 april</div><textarea class="calendar-text"></textarea>
                </div>


                <div class="calendar-block">
                    <div class="calendar-date">Maandag 23 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Dinsdag 24 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Woensdag 25 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Donderdag 26 april</div><textarea class="calendar-text"></textarea>
                </div>
                <div class="calendar-block">
                    <div class="calendar-date">Vrijdag 27 april</div><textarea class="calendar-text"></textarea>
                </div>


                <div class="calendar-block">
                    <div class="calendar-date">Maandag 30 april</div><textarea class="calendar-text"></textarea>
                </div>*@
            </div>
        </div>
    </div>
</div>

<div id="memoTest">Test Memo</div>

@section Scripts {

    <script src="~/js/Sortable.js"></script>
    <script src="~/js/memoProgramComponent.js" type="text/javascript"></script>

}