@using Resources
@model Quintessence.QCare.ViewModel.EvaluationFormCoachingPart4Model

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
        $(function () {
            InitializeButtons();
        });

        function InitializeButtons() {
            //Previous
            $('a[data-function=previous]').click(function (e) {
                e.preventDefault();
                var form = $('#Part4Form');
                $('#Navigation').val('0');
                form.submit();
            });

            //Next
            $('a[data-function=next]').click(function (e) {
                e.preventDefault();
                var form = $('#Part4Form');
                $('#Navigation').val('1');
                form.submit();
            });
        }
    </script>
}

@using (Html.BeginForm("Part4", "EvaluationCoaching", FormMethod.Post, new { id = "Part4Form" }))
{
    @Html.EditorFor(m => m, "BaseEntityViewTemplate")
    @Html.HiddenFor(m => m.Navigation)
    <fieldset>
        <legend>@Global.EvaluationFormCoachingTitleBlock4</legend>
        <div>
            <ol>
                <li value="7">
                    <p>@Global.EvaluationFormCoachingQuestion06 </p>
                    @Html.TextAreaFor(m => m.Question06, 6, 100, null)
                </li>
                <li>
                    <p>@Global.EvaluationFormCoachingQuestion07</p>
                    @Html.TextAreaFor(m => m.Question07, 6, 100, null)
                </li>
                <li>
                    <p>@Global.EvaluationFormCoachingQuestion08</p>
                    @Html.TextAreaFor(m => m.Question08, 6, 100, null)
                </li>
                <li>
                    <p>@Global.EvaluationFormCoachingQuestion09</p>
                    @Html.TextAreaFor(m => m.Question09, 6, 100, null)
                </li>
            </ol>
            <div class="right-text">
                <a href="javascript:void(0);" data-function="previous" class="button">@Global.Previous</a>
                <a href="javascript:void(0);" data-function="next" class="button">@Global.Next</a>
            </div>
        </div>
    </fieldset>
    
}
