@using Quintessence.QService.QueryModel.Base
@using Quintessence.QService.QueryModel.Prm
@model Quintessence.QPlanet.ViewModel.Prm.EditProjectCandidateInvoiceModel
<td>
    @Model.CandidateFullName
</td>
<td>
    @Model.ProductName
</td>
<td>
    @(Model.ProjectCandidateDetailAssessmentStartDate.GetValueOrDefault().ToShortDateString())
</td>
<td>
    @Html.TextBoxFor(m => m.InvoiceAmount)
</td>
<td>
    @{
        var invoiceStatusType = (InvoiceStatusType)Model.InvoiceStatusCode;
        switch (invoiceStatusType)
        {
            case InvoiceStatusType.Invoiced:
                @EnumMemberNameAttribute.GetName(invoiceStatusType)
                break;
                
            default:
                @Html.DropDownListFor(m => m.InvoiceStatusCode, Model.CreateInvoiceStatusSelectListItems(Model.InvoiceStatusCode, invoiceStatusType), new{data_control_id="InvoiceStatusType"})        
                break;
        }
    }
</td>
<td>
    @Html.TextBoxFor(m => m.InvoiceRemarks)
</td>