@using Quintessence.QService.QueryModel.Base
@using Quintessence.QService.QueryModel.Prm
@model Quintessence.QPlanet.ViewModel.Prm.EditProjectCandidateCategoryInvoiceModel
<td>
    @Html.HiddenFor(m => m.CategoryDetailType)
    @Model.ProjectCandidateCandidateFullName
</td>
<td>
    @Model.ProductName
</td>
<td>
    @(Model.ScheduledDate == null ?
        Model.ProjectCandidateProjectCandidateDetailAssessmentStartDate.GetValueOrDefault().ToShortDateString() :
        Model.ScheduledDate.GetValueOrDefault().ToShortDateString())
</td>
<td>
    @Html.TextBoxFor(m => m.InvoiceAmount)
</td>
<td>
    @{
        var invoiceStatusType = (InvoiceStatusType)Model.InvoiceStatusCode;
        switch (invoiceStatusType)
        {
            case InvoiceStatusType.Invoiced:
                @EnumMemberNameAttribute.GetName(invoiceStatusType)
                break;
                
            default:
                @Html.DropDownListFor(m => m.InvoiceStatusCode, Model.CreateInvoiceStatusSelectListItems(Model.InvoiceStatusCode, invoiceStatusType), new{data_control_id="InvoiceStatusType"})
                break;
        }
    }
</td>



