@model Quintessence.QPlanet.ViewModel.Sim.EditSimulationContextModel
@{
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
    ViewBag.Title = "Admin - Simulations - Edit simulation context";
}
@section DetailAreaNavigation
{
    <nav class="area">
        <ul>
            <li class="current"><a href="javascript:void(0);">@Model.Name</a></li>
        </ul>
    </nav>
}
@section DetailActionNavigation
{
    <nav class="action">
        <ul>
            <li class="current">Detail</li>
        </ul>
    </nav>
}
@section AdditionalScripts
{
    <script type="text/javascript">
        $(function () {
            InitializeButtons();
            RefreshSimulationContextUsers();
            InitializeAddSimulationContextUserDialog();
        });

        function InitializeButtons() {
            $('#SubmitFormButtonLink').click(function () {
                ShowDetailSaveDialog();
                $('form').submit();
            });

            $(this).on('click', 'a[data-function=GenerateNewPasswords]', null, function (event) {
                event.preventDefault();

                $('input[data-function=SimulationContextUserPasswordTextBox]').each(function () {
                    var passwordField = $(this);
                    $.ajax({
                        url: '@Url.Action("GeneratePassword")',
                        async: false,
                        success: function (data) {
                            passwordField.val(data);
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                });
            });

            $(this).on('click', 'a[data-function=SaveSimulationContextUsers]', null, function (event) {
                event.preventDefault();

                ShowDetailSaveDialog();

                var form = $('#SimulationContextUserForm');

                $.ajax({
                    url: form.attr('action'),
                    data: form.serialize(),
                    dataType: 'JSON',
                    type: 'POST',
                    success: function () {
                        HideDetailSaveDialog();
                        RefreshSimulationContextUsers();
                    },
                    error: function (err) {
                        ShowDetailErrorDialog('Save context users.', err);
                        HideDetailSaveDialog();
                    }
                });
            });

            $(this).on('click', 'a[data-function=AddSimulationContextUserButton]', null, function (event) {
                $('#AddSimulationContextUserDialog').loading('Preparing new context user.');
                $('#AddSimulationContextUserDialog').dialog('open');

                event.preventDefault();

                $.ajax({
                    url: '@Url.Action("AddSimulationContextUser")/@Model.Id',
                    success: function (html) {
                        $('#AddSimulationContextUserDialog').html(html);
                    },
                    error: function (err) {
                        ShowDetailErrorDialog('Preparing a new context user.', err);
                    }
                });
            });

            $(this).on('click', 'a[data-function=SubmitSimulationContextUser]', null, function (event) {
                event.preventDefault();
            });

            $(this).on('click', 'a[data-function=CopyToClipboard]', null, function (event) {
                event.preventDefault();

                window.clipboardData.setData('Text', $('#' + $(this).attr('data-control-id')).val());
            });

            $(this).on('click', 'a[data-function=SubmitSimulationContextUser]', null, function (event) {
                event.preventDefault();

                ShowDetailSaveDialog();

                var form = $('#AddSimulationContextUserForm');

                $.ajax({
                    url: form.attr('action'),
                    data: form.serialize(),
                    type: 'POST',
                    dataType: 'JSON',
                    success: function () {
                        $('#AddSimulationContextUserDialog').dialog('close');
                        HideDetailSaveDialog();
                        RefreshSimulationContextUsers();
                    },
                    error: function (err) {
                        HideDetailSaveDialog();
                        ShowDetailErrorDialog('Add a new context user.', err);
                    }
                });
            });

            $(this).on('click', 'a[data-function=DeleteSimulationContextUser]', null, function (event) {
                event.preventDefault();

                ShowDetailSaveDialog();

                $.ajax({
                    url: '@Url.Action("DeleteSimulationContextUser")/' + $(this).attr('data-simulation-context-user-id'),
                    success: function () {
                        HideDetailSaveDialog();
                        RefreshSimulationContextUsers();
                    },
                    error: function (err) {
                        HideDetailSaveDialog();
                        ShowDetailErrorDialog('Delete context user.', err);
                    }
                });
            });

            $(this).on('click', 'a[data-function=GenerateNewYear]', null, function (event) {
                event.preventDefault();

                ShowDetailSaveDialog();

                $.ajax({
                    url: '@Url.Action("GenerateNewYear")/@Model.Id',
                    success: function () {
                        HideDetailSaveDialog();
                        RefreshSimulationContextUsers();
                    },
                    error: function (err) {
                        HideDetailSaveDialog();
                        ShowDetailErrorDialog('Generate new year.', err);
                    }
                });
            });
        }

        function RefreshSimulationContextUsers() {
            $('#SimulationContextUserTablePlaceholder').loading('Retrieve credentials.');
            $.ajax({
                url: '@Url.Action("SimulationContextUsers")/@Model.Id',
                success: function (html) {
                    $('#SimulationContextUserTablePlaceholder').html(html);
                },
                error: function (err) {
                    alert(err.statusText);
                    $('#SimulationContextUserTablePlaceholder').html('Unable to retrieve simulation context users: ' + err.statusText);
                }
            });
        }

        function InitializeAddSimulationContextUserDialog() {
            $('#AddSimulationContextUserDialog').dialog({
                title: 'Add new user',
                autoOpen: false,
                modal: true,
                resizable: false,
                width: 500,
                height: 250
            });
        }
    </script>
}

<div class="grid_8">
    <fieldset>
        <legend>Simulation context information</legend>
        @using (Html.BeginForm())
        {
            @Html.EditorFor(m => m, "BaseEntityViewTemplate")

            <div class="row">
                <div>@Html.LabelFor(m => m.Name)</div>
                <div>@Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            
            <div class="row">
                <div>@Html.LabelFor(m => m.UserNameBase)</div>
                <div>@Html.EditorFor(m => m.UserNameBase)
                    @Html.ValidationMessageFor(m => m.UserNameBase)
                </div>
            </div>
            
            <div class="row">
                <div>@Html.LabelFor(m => m.PasswordLength)</div>
                <div>@Html.EditorFor(m => m.PasswordLength)
                    @Html.ValidationMessageFor(m => m.PasswordLength)
                </div>
            </div>

            <div class="right-text">
                <a href="javascript:void(0);" id="SubmitFormButtonLink" class="button">Save</a>
            </div>
        }
    </fieldset>
</div>
<div class="clear"></div>

<div class="grid_16">
    <fieldset>
        <legend>Credentials</legend>

        <div id="SimulationContextUserTablePlaceholder"></div>
    </fieldset>
</div>

<div id="AddSimulationContextUserDialog">
</div>
