@model Quintessence.QPlanet.Webshell.Models.Login.ChangePasswordActionModel
@section AdditionalScripts
{
    <script src="@Url.Content("~/Scripts/jquery.complexify.js")" type="text/javascript"></script>

    <script>
        $(function () {
            InitializeButtons();
            InitializeDialogs();
            document.getElementById("SubmitChange").disabled = true;
            document.getElementById("SubmitChange").style.background = "#DDDDDD";
            document.getElementById("SubmitChange").style.cursor = "pointer";
            
            $('#@Html.IdFor(m => m.NewPassword)').keyup(function () {
                if ($(this).val() == undefined || $(this).val() == '') {
                    $('#Complexity td').css('background-color', 'gray').html('');
                    document.getElementById("SubmitChange").disabled = true;
                    document.getElementById("SubmitChange").style.background = "#DDDDDD";
                    document.getElementById("SubmitChange").style.cursor = "pointer";
                    return false;
                }

                var strength = CheckStrength($(this).val());

                if (strength > 2) {
                    $('#Complexity td').css('background-color', 'green').html('');
                    $('#Complexity td:eq(2)').html('Strong');
                    InitializeButtons();
                    document.getElementById("SubmitChange").disabled = false;
                    document.getElementById("SubmitChange").style.background = "#336FBE";
                    document.getElementById("SubmitChange").style.cursor = ""
                } else if (strength == 2 || strength == 3) {
                    $('#Complexity td').css('background-color', 'gray').html('');
                    $('#Complexity td:eq(0)').first('td').css('background-color', 'yellow');
                    $('#Complexity td:eq(1)').css('background-color', 'yellow').css('color', 'black').html('Medium');
                    document.getElementById("SubmitChange").disabled = true;
                    document.getElementById("SubmitChange").style.background = "#DDDDDD";
                    document.getElementById("SubmitChange").style.cursor = "default";
                } else {
                    $('#Complexity td').css('background-color', 'gray').html('');
                    $('#Complexity td:eq(0)').css('background-color', 'red').html('Weak');
                    document.getElementById("SubmitChange").disabled = true;
                    document.getElementById("SubmitChange").style.background = "#DDDDDD";
                    document.getElementById("SubmitChange").style.cursor = "default";
                }
            });
        });

        function InitializeButtons() {
            $('#SubmitChange').click(function (event) {
                ShowDetailSaveDialog();
            });

            $('#ShowPasswordsHintsDialogButton').click(function () {
                $('#PasswordTipsDialog').dialog('open');
            });
        }

        function InitializeDialogs() {
            $('#PasswordTipsDialog').dialog({
                title: 'Hints & Tips',
                autoOpen: false,
                modal: true,
                resizable: false,
                width: 800,
                height: 600
            });
        }

        function CheckStrength(password) {

            //initial strength
            var strength = 0;

            //if the password length is less than 6, return message.
            if (password.length < 6) {
                return strength;
            }

            //if length is 8 characters or more, increase strength value
            if (password.length > 7) strength += 1;

            //if password contains both lower and uppercase characters, increase strength value
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1;

            //if it has numbers and characters, increase strength value
            if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1;

            //if it has one special character, increase strength value
            if (password.match(/([!,%,@("@"),&,#,$,^,*,?,_,~])/)) strength += 1;

            //if it has two special characters, increase strength value
            if (password.match(/(.*[!,@("@"),%,&,#,$,^,*,?,_,~].*[!,",%,@("@"),&,#,$,^,*,?,_,~])/)) strength += 1;

            return strength;
        }
    </script>
}

<div class="prefix_2 grid_12">

    <fieldset id="Account">
        <legend>Change your password</legend>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div>Username:</div>
                <div>@Html.TextBoxFor(m => m.UserName)</div>
            </div>
            <div class="row">
                <div>Current Password:</div>
                <div>@Html.PasswordFor(m => m.CurrentPassword)</div>
            </div>
            <div class="row" style="line-height: 25px">
                <div>New Password:</div>
                <div>
                    @Html.PasswordFor(m => m.NewPassword)

                </div>
            </div>
            <div id="Complexity">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div>Confirm Password:</div>
                <div>@Html.PasswordFor(m => m.ConfirmPassword)</div>
            </div>
            <div class="clear"></div>
            <br />
            <div class="center-text">
                <a href="javascript:void(0);" id="ShowPasswordsHintsDialogButton">Show hints & tips for creating my password.</a>
                <br />Only strong passwords will be valid to submit.
                <br />(strong = combination of capitals, lowercasing, numbers and symbols)
                <br />ex.: $Pass123, MyPet#321 (Please do not use these examples)
            </div>
            <div class="right-text">
                <input type="submit" id="SubmitChange" value="Change" class="button" disabled="disabled">
            </div>
        }
    </fieldset>
</div>
<div class="clear"></div>
<div id="PasswordTipsDialog">
    <h4>How safe is your password?</h4>
    <p>
        Since this application is accessible from the internet, it means that other persons
            will try to gain access to the information of QPlanet.
            In order to prevent hacking and unrighteous access to confidential information it
            is imperative that you protect your access to QPlanet with a strong password.
            The stronger the password, the harder it is for hackers and other criminals to gain
            access to your account.
            To help you create a strong password, we indicate the strength of the password (weak, 
            medium or strong).
    </p>

    <h4>Tips for creating a secure password
    </h4>
    <ul>
        <li class="circle">Include punctuation marks and/or numbers.</li>
        <li class="circle">Mix capital and lowercase letters.</li>
        <li class="circle">Include similar looking substitutions, such as the number zero for
                the letter 'O'
                or '$' for the letter 'S'.</li>
        <li class="circle">Create a unique acronym.</li>
        <li class="circle">Include phonetic replacements, such as 'Luv 2 Laf' for 'Love to Laugh'.
        </li>
    </ul>
    <br />

    <h4>Things to avoid
    </h4>
    <ul>
        <li class="circle">Don't reuse passwords for multiple important accounts, such as Gmail
                and online
                banking.</li>
        <li class="circle">Don't use a password that is listed as an example of how to pick
                a good password.
        </li>
        <li class="circle">Don't use a password that contains personal information (name, birth
                date, etc.)
        </li>
        <li class="circle">Don't use words or acronyms that can be found in a dictionary.
        </li>
        <li class="circle">Don't use keyboard patterns (asdf) or sequential numbers (1234).
        </li>
        <li class="circle">Don't make your password all numbers, uppercase letters or lowercase
                letters.
        </li>
        <li class="circle">Don't use repeating characters (aa11).</li>
    </ul>
    <br />

    <h4>Tips for keeping your password secure
    </h4>
    <ul>
        <li class="circle">Never tell your password to anyone (this includes significant others,
                roommates,
                parrots, etc.).</li>
        <li class="circle">Never write your password down.</li>
        <li class="circle">Never send your password by email.</li>
        <li class="circle">Periodically test your current password and change it to a new one.
        </li>
    </ul>
    <br />
</div>
