@model Quintessence.QPlanet.ViewModel.Rep.EditReportParameterModel
<p>Edit a translation</p>

@using (Html.BeginForm("EditTranslation", "AdminHome", FormMethod.Post, new { id = "EditTranslationForm" }))
{
    @Html.EditorFor(m => m, "BaseEntityViewTemplate")
    <div style="overflow: auto; max-height: 450px; min-height: 450px;">
        <div class="row">
            <div>@Html.DisplayNameFor(m => m.Code)</div>
            <div>@Html.EditorFor(m => m.Code)</div>
        </div>
        <div class="row">
            <div>@Html.DisplayNameFor(m => m.Description)</div>
            <div>@Html.EditorFor(m => m.Description)</div>
        </div>
        <div class="row">
            <div>@Html.DisplayNameFor(m => m.DefaultText)</div>
            <div>@Html.TextAreaFor(m => m.DefaultText)</div>
        </div>

        @for (var i = 0; i < Model.ReportParameterValues.Count; i++)
        {
            <div class="row">
                <div>
                    @Html.EditorFor(m => m.ReportParameterValues[i], "BaseEntityViewTemplate")
                    @Model.ReportParameterValues[i].LanguageName
                    @Html.HiddenFor(m => m.ReportParameterValues[i].LanguageId)
                </div>
                <div>@Html.TextAreaFor(m => m.ReportParameterValues[i].Text)</div>
            </div>
        }
    </div>
    <br />
}

<div class="right-text">
    <a href="javascript:void(0);" data-function="EditTranslationSubmitButton" class="button">
        Save</a>
</div>
