@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "QPlanet - Home";
}

@section AdditionalScripts
{
    <script>
        $(function () {
            InitializeUserProjectCandidates();
            InitializeUserPreviousProjectCandidates();
            InitializeQCandidateProjectCandidates()
            //RefreshStickyBlogEntries();
            //RefreshBlogEntries();
        });

        //Initialize UserProjectCandidates placeholder
        function InitializeUserProjectCandidates() {
            $('#UserProjectCandidatesPlaceholder').loading('Retrieve your candidates for today.');
            $.ajax({
                url: '@Url.Action("UserProjectCandidates")',
                success: function(html) {
                    $('#UserProjectCandidatesPlaceholder').html(html);
                },
                error: function(err) {
                    ShowErrorDetailDialog('Load candidates for today.', err);
                }
            });
        }

        function InitializeUserPreviousProjectCandidates() {
            $('#UserPreviousProjectCandidatesPlaceholder').loading('Retrieving your previous activities.');
            $.ajax({
                url: '@Url.Action("UserPreviousProjectCandidates")',
                success: function (html) {
                    $('#UserPreviousProjectCandidatesPlaceholder').html(html);
                },
                error: function (err) {
                    ShowErrorDetailDialog('Loading previous activities.', err);
                }
            });
        }

        function InitializeQCandidateProjectCandidates() {
            $('#QCandidateProjectCandidatesPlaceholder').loading('Retrieving your previous activities.');
            $.ajax({
                url: '@Url.Action("QCandidateProjectCandidates")',
                success: function (html) {
                    $('#QCandidateProjectCandidatesPlaceholder').html(html);
                },
                error: function (err) {
                    ShowErrorDetailDialog('Loading previous activities.', err);
                }
            });
        }

        function RefreshBlogEntries() {
            $('#BlogEntriesPlaceholder').loading('Retrieve Sharepoint messages.');
            $.ajax({
                url: '@Url.Action("BlogEntries")',
                success: function (html) {
                    $('#BlogEntriesPlaceholder').html(html);
                },
                error: function (err) {
                    ShowErrorDetailDialog('Retrieve Sharepoint messages.', err);
                }
            });
        }

        function RefreshStickyBlogEntries() {
            $('#StickyBlogEntriesPlaceholder').loading('Retrieve Sharepoint messages.');
            $.ajax({
                url: '@Url.Action("StickyBlogEntries")',
                success: function (html) {
                    $('#StickyBlogEntriesPlaceholder').html(html);
                },
                error: function (err) {
                    ShowErrorDetailDialog('Retrieve Sharepoint messages.', err);
                }
            });
        }
    </script>
}
<div class="grid_16">
    <fieldset>
        <legend>
            Day program
        </legend>
        <div id="UserProjectCandidatesPlaceholder"></div>
    </fieldset>
</div>
<div class="clear"></div>

<div class="grid_16">
    <fieldset>
        <legend>
            Previous activities
        </legend>
        <div id="UserPreviousProjectCandidatesPlaceholder" style="font-size:11pt;"></div>
    </fieldset>
</div>
<div class="clear"></div>

<div class="grid_16">
    <fieldset>
        <legend>
            QPlanet News
        </legend>
        <div class="row" style="margin-left:10px;width:98%;line-height:20px;">
            <p style="font-weight:700;">Your schedule<br /></p>
            <p style="border-bottom:1px solid lightgray;padding-bottom:10px;">
                Today: @if (Session["Today"].ToString() == "na")
                {
                    <span>not available</span>
                }
                else
                {
                    <a href='@Session["Today"].ToString()'>DOWNLOAD</a>
                }
                <br />
                Tomorrow: @if (Session["Tomorrow"].ToString() == "na")
                {
                    <span>not (yet) available</span>
                }
                else
                {
                    <a href='@Session["Tomorrow"].ToString()'>DOWNLOAD</a>
                }
            </p>
            <p style="text-align:right">Quintessence Consulting</p>
        </div>
    </fieldset>
</div>
<div class="clear"></div>


@if(Session["RoleId"].ToString() == ("D3D0E788-BED4-49EF-A93E-78542D7296CE").ToLower() || Session["RoleId"].ToString() == ("E60C52B1-942B-4735-BFD9-5C05E542C79E").ToLower()) 
{
    <div class="grid_16">
        <fieldset>
            <legend>
                QCandidate Candidates to invite
            </legend>
            <div id="QCandidateProjectCandidatesPlaceholder" style="font-size:11pt;"></div>
        </fieldset>
    </div>
}

<!--<div class="grid_8">
    <fieldset>
        <legend>Stickies</legend>

        <div id="StickyBlogEntriesPlaceholder"></div>
    </fieldset>
</div>
<div class="grid_8">
    <fieldset>
        <legend>Messages</legend>

        <div id="BlogEntriesPlaceholder"></div>
    </fieldset>
</div>-->
